<div class="d-flex justify-content-center align-items-center mt-5 flex-wrap">
    <a href="#" class="mx-2 text-muted fs-0-8 text-decoration-none">Meta</a>
    <a href="#" class="mx-2 text-muted fs-0-8 text-decoration-none">About</a>
    <a href="#" class="mx-2 text-muted fs-0-8 text-decoration-none">Blog</a>
    <a href="#" class="mx-2 text-muted fs-0-8 text-decoration-none">Jobs</a>
    <a href="#" class="mx-2 text-muted fs-0-8 text-decoration-none">Help</a>
    <a href="#" class="mx-2 text-muted fs-0-8 text-decoration-none">API</a>
    <a href="#" class="mx-2 text-muted fs-0-8 text-decoration-none">Privacy</a>
    <a href="#" class="mx-2 text-muted fs-0-8 text-decoration-none">Terms</a>
    <a href="#" class="mx-2 text-muted fs-0-8 text-decoration-none">Locations</a>
    <a href="#" class="mx-2 text-muted fs-0-8 text-decoration-none">Instagram Lite</a>
    <a href="#" class="mx-2 text-muted fs-0-8 text-decoration-none">Threads</a>
    <a href="#" class="mx-2 text-muted fs-0-8 text-decoration-none">Contact Uploading & Non-Users</a>
    <a href="#" class="mx-2 text-muted fs-0-8 text-decoration-none">Meta Verified</a>
</div>
<div class="mt-4 mb-5 pb-3">
    <p class="text-center text-muted fs-0-8">© 2024 Instagram from Meta</p>
</div>

