{% extends 'base.html' %}
{% load static %}

{% block title %}Sign up • Instagram{% endblock title %}

{% block style %}
    <style>
    .form-control{
        background-color: var(--bs-secondary-bg);
    }
    </style>
{% endblock style %}

{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row flex-column justify-content-center align-items-center">

                <div class="col-md-3 col-lg-2 col-sm-11 col-12 border-dark-50 border mt-3 p-5 p-md-4">
                    {% include 'components/alert.html' %}
                    <div class="card-header-register d-flex flex-column justify-content-center align-items-center">
                        <img style="width: 70%" class="p-1" src="{% static 'media/typo.png' %}">
                        <p class="text-muted text-center fw-bold my-4 fs-0-9">Sign up to see photos and videos from your friends.</p>
                        <button class="btn btn-primary w-100 fw-bold fs-0-9"><i class="bi bi-facebook"></i> Log in with Facebook</button>
                    </div>
                    <div class="seprator d-flex justify-content-center align-items-center my-1">
                        <hr class="bg-dark w-100">
                        <span class="text-muted px-3  fw-bold fs-0-9"> OR </span>
                        <hr class="bg-dark w-100">
                    </div>
                    <form class="mt-1" method="post" action="{{ form.action }}">
                        {% csrf_token %}
                        {{ form.EmailOrPhone }}
                        {% if form.EmailOrPhone.errors %}
                            <ul>
                            {% for err in form.EmailOrPhone.errors %}
                                <li class="text-danger fs-0-8">{{ err }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        {{ form.FullName }}
                        {% if form.FullName.errors %}
                            <ul>
                            {% for err in form.FullName.errors %}
                                <li class="text-danger fs-0-8">{{ err }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        {{ form.Username }}
                        {% if form.Username.errors %}
                            <ul>
                            {% for err in form.Username.errors %}
                                <li class="text-danger fs-0-8">{{ err }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        {{ form.Password }}
                        {% if form.Password.errors %}
                            <ul>
                            {% for err in form.Password.errors %}
                                <li class="text-danger fs-0-8">{{ err }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <p class="text-muted my-4 text-center fs-0-8">People who use our service may have uploaded your contact information to Instagram. <a class="text-dark" href="#">Learn More</a></p>
                        <p class="text-muted my-4 text-center fs-0-8">By signing up, you agree to our <a class="text-dark " href="#">Terms</a> , <a class="text-dark " href="#">Privacy Policy</a> and <a class="text-dark " href="#">Cookies Policy</a> .</p>
                        <input type="submit" class="btn btn-primary w-100 fs-0-8" value="{{ form.SubmitText }}">
                    </form>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-11 col-12 border-dark-50 border my-2 px-4 py-3">
                    <p class="text-center my-2 fs-0-9">Have an account? <a href="{% url 'auth:login-view' %}" class="text-decoration-none">Log in</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-11 col-12 my-2">
                    <p class="text-center m-0 fs-0-9">Get the app</p>
                    <div class="d-flex justify-content-center align-items-center">
                        <img style="width: 50%" src="{% static 'media/getit-from-google-play.png' %}" class="p-1">
                        <img style="width: 50%" src="{% static 'media/getit-from-microsoft-store.png' %}" class="p-3">
                    </div>
                </div>

            </div>
            {% include 'components/auth/footer.html' %}
        </div>
    </section>
{% endblock content %}

{% block script %}
{% endblock script %}